.gallery {
    padding: 10px;
}
.title {
    margin-top: 70px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #203d64;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 25px;
        margin-top: 60px;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
 }

* {
    box-sizing: border-box;
 }
 h1 {
    text-align: center;
 }
 .outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
 }
 .inner-grid {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
 }
 .inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 5px;
 }
 @media screen and (max-width: 800px) {
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
 }

 img {
     height: 470px;
     width: 100%;
     object-fit: cover;
 }

 @media screen and (max-width: 800px) {
    img {
        height: 250px;
    }
 }
